.color--contain{
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 7px;
  cursor: pointer;
  box-shadow: 0 3px 8px 2px #0000002e;
  transition: all .3s;

  @media screen and(max-width: 767.98px){
    min-height: 350px;
  }

  &:hover{
    @media screen and(min-width: 767.98px){
      transform: scale(1.05);
    }
  }

  .year, .date{
    padding: 10px;
  }

  .contain-title{
    justify-self: center;
    align-self: center;
    width: 100%;

    .color--title{
      font-size: 1.2rem;
      font-weight: normal;
      margin-bottom: 3px;
    }

    .color--code{
      font-size: 1.3rem;
      font-weight: bold;
    }

    .copied{
      font-size: 1.3rem;
      font-weight: bold;
      width: fit-content;
      margin: auto;
      background-color: rgba(0,0,0,.3);
      padding: 6px 12px;
      border-radius: 7px;
    }
  }

  .pantone{
    width: 100%;
    text-align: end;
    align-self: flex-end;
    padding: 10px;
  }
}
