.grid{
  height: 100vh;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 9% 1fr 8%;

  @media screen and(min-width: 767.98px){
    overflow: hidden;
  }

  &__section{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }
}
