.grilla {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #fff;
  padding: 20px;

  /* @include breakpoint-max(){
    justify-content: center;
  } */

  &__item{
    width: 31%;
    text-align: center;
    height: calc((100% - 66px - 24px) / 2);
    border-radius: 7px;

    /* @include breakpoint-max(){
      width: 100%;
      margin-bottom: 12px;
    } */
  }

}


